*{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

html{
	background: #FCD758;
}

#contenedor{
	width: 1024px;
	text-align: center;
	background: #FFFDF2;
	float: inherit;
	margin: 0 auto;
}

#header{
	position: relative;
	margin: 0 auto;
	background: #F93;
	float:left;
}

#menu{
	width: 824px;
	height: 80px;
	vertical-align: text-bottom;
	float:left;	
	
}

#menu ul{
	float:left;	
	height: 80px;
	display: inline;
	list-style: none;

}
#menu li a{
	vertical-align:bottom;
	font-family:Georgia, "Times New Roman", Times;
	float:left;	
	height: 80px;
	text-decoration: none;
	display: inline;
	text-align: center;
	vertical-align: text-bottom;
	width: 206px;
	color: #FFFDF2;
}

#menu ul li a:hover {
	background:#ff6600;
	height: 75px;
	border-bottom: 2px #FCD758;
	margin-top:-2px;
	
}

.active{
	background:#ff6600;
	height: 75px;
	border-bottom: 2px #FCD758;
	margin-top:-6px;
}

#logoo{
	margin: auto auto;
	background: #ff6600; 
	width: 200px;
	float:right;
	height: 80px;
}

#logoo img{
	margin: auto auto;
	width: 200px;
	height: 80px;
}
#contenido{
	margin: 0 auto;
	background: #FEF1C7;
	height: 396px;
	float: left;
	border-bottom: 2px solid #FCD758;
}

#cuerpo{
	width: 75%;	
	float: left;
	height: 396px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#as{
	background-image: url("imagenes/fondoDerch.jpg");
	width: 200px;
	float:right;
	height: 396px;
	padding-top: 20px;
}

.bot {
	margin-left: 20px;
	text-align: left;
	height: 40px;
	border-top: 2px #F93;
	border-bottom: 2px #F93;
	display: block;
	
}

.bot a{
	color: #F93;
	text-decoration: none;
}

.bot img{
	width: 15px;
	height: 18px;
}

.arti{
	width: 768px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 26px;
	text-align: justify;
	color: #FA521A;
}

.arti h1{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Georgia, "Times New Roman", Times;
	color: #F93;
	font-style: normal;
	font-size: 1.5em;
}

.arti li{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #F93;
	font-weight: bold;
	font-size: 1em;
}

.arti p img{
	width: 100px;
	float: left;
	margin: 5px;
}

#peonza{

}

#PortadaPeonza{
	margin: 0 auto;
	width: 1024px;
	text-align: center;
}

#PortadaPeonza img{
	margin: 20px auto;
	width: 328px;
	text-align: center;
}



#pie{
	position:relative;
	height: 103px;
	margin: 0 auto;	
	float: left;
	color: #ff6600;
}

#pi1{
	height: 43px;
	background: #fef1c7;
	text-align: right;
	float: right;
	/*padding: 15px 0 10px 0;
*/}

#pi2{
	vertical-align:text-bottom;
	bottom: 0px;
	height: 60px;
	float: right;
	/*padding-top: 25px;*/
	background: #FCD758;
}